.SearchBar{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 450px;
    background: #6489fc;
    box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.5);
}

.search-field{
    border:none;
    background: inherit;
    outline: none;
    box-sizing: border-box;
    width: 400px;
    height: 50px;
    font-size: 17px;
    font-weight: 600;
    color: #f6f2f2;
    padding: 10px;
    border-right: 1px solid #444040;
}

.search-field::placeholder{
    color: #000000;
    font-size: 17px;
}
.search-icon-cont{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 50px;
}

@media only screen and (max-width: 767px) {
    .SearchBar{
        width: 80%;
    }
    .search-field{
        width: 80%;
        padding: 10px;
    }
    .search-field::placeholder{
        font-size: 15px;
    }
    .search-icon-cont{width: 20px}
}