
*{
font-family: Calibri;
}
body{
  background: url('./imgs/background.jpg');
}

.Main {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Booklist{
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Booklist-allcont{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80%;
  height: auto;
  margin-top: 50px;
  background: rgba(255, 255, 255, 0.7);
}

.Booklist-cont{
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-gap: 20px;
}

.Booklist-found{
  margin-top: 20px;
  font-size: 30px;
  color: #282222;
}
/*book*/



.loading{
  width: 70%;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  background: rgba(255, 255, 255, 0.7);
}

.error-message{
  width: 70%;
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  color: red;
  margin-top: 20px;
  background: rgba(255, 255, 255, 0.7);
}

.MuiSvgIcon-root:hover{
  color: #8c1eff;
}

/*bookPage*/
.BookPage{
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bookpage-cont{
  width: 80%;
  height: 95%;
  background: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: 7px;
}

.bookpage-img-cont{
  width: 40%;
  height: 100%;
  background: #e5e4e4;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bookpage-img{
  width: 90%;
  height: 90%;
}
.bookpage-info{
  width: 60%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  padding: 30px;
}

.bookpage-categories{
  font-size: 17px;
  color: #8f8c8c;
}

.bookpage-title{
  font-size: 25px;
  font-weight: 600;
  color: #424242;
}

.bookpage-description{
  font-size: 17px;
  font-weight: 400;
  letter-spacing: 1px;
  line-height: 1.3em;
  padding: 5px;
  border: 1px solid #d0d0d0;
  border-radius: 6px;
}

.bookpage-authors{
  font-size: 15px;
  color: #8f8c8c;
}

.bookpage-date{
  font-size: 25px;
  font-weight: 600;
  color: #525252;
}


@media only screen and (max-width: 767px) {
  .BookPage{
    height: auto;
  }
.Booklist-allcont{
  width: 100%;
}
  .Booklist-cont{
    grid-template-columns: repeat(1,1fr);
  }

  .bookpage-cont{
    width: 100%;
    height: auto;
    flex-direction: column;
    background: rgba(255, 255, 255, 0.7) ;
  }
  .bookpage-img-cont{
    width: auto;
    height: auto;
  }
  .bookpage-img{
    width: 200px;
    height: 400px;
  }
  .bookpage-info{
    width: 90%;
  }

}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .Booklist-allcont{
    width: 80%;
  }
  .Booklist-cont{
    grid-template-columns: repeat(1,1fr);
    place-items: center;
  }

}


